.nav-bar {
  background-color: black !important;
}

.link-button {
  color: white !important;
  text-decoration: none;
}

.search-page,
.main-page {
  padding-top: 2em;
  padding-left: 2em;
  padding-right: 2em;
}
